language: java

# 07-Jul-2020, tatu: Tests seem to fail on JDK11; need to disable that build until
#   someone has time & interest to look into what gives
jdk:
  - openjdk8

# whitelist
branches:
  only:
    - master

cache:
  directories:
  - $HOME/.m2
